
body {
	font-family: 'Roboto', sans-serif; /* add font */
    background-color: antiquewhite;
}

/* Style the text */
p {
	color: #666;
	margin: 0;
	padding: 10px;
    width: 100ch;
    margin-top: 10px;
    padding-right: 20px;
}

/* Element Selector */
h1 {
    color: rgb(20,30,40);
    width: 600px;
    margin: 20px 10px;
    padding: 10px 20px;
    border-style:dotted;
    border-color: dodgerblue;
    border-width: 3px;
    border-radius: 8px;
    text-decoration: underline;
}

h2 {
    color: hsl(30, 20, 50);
    width: 10cm;
    margin: auto;
    max-width: 800px;
    min-width: none;
    position:relative;
}

h3 {
    color: dodgerblue;
    width: 90mm;
    height: 10mm;
    text-align: center;
    position:sticky
}

/* Class Selector */
.ele1 {
    width: 5vw;
    display:block;
}

.ele2 {
    width: 5vh;
    display:flex;
    flex-grow: 4;
    flex-wrap: nowrap;
}

.ele3 {
    width: 5vh;
    display:flex;
    flex-shrink: unset;
    flex-direction: column;
}
.ele4 {
    width: 5vh;
    display:flex;
    flex-direction: row;
    flex-flow: column-reverse;
}

.hidden {
    display: none;
}

/* Pseudo-class Selector */
button:hover {
    color: rebeccapurple;
}

button:active {
    color: dodgerblue;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.box {
    background-color: #001122;
    color: #221100;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box1 {
    grid-column: 1 / 3;
    grid-row: 1;
    grid-area: span;
  }
  
  .box2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    grid-column-end: auto;
  }
  
  .box3 {
    grid-column: 1;
    grid-row: 2 / 4;
    grid-column-start: auto;
  }

  @media only screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }
    .container {
      width: 100%;
      padding: 10px;
    }
  }
  


  /* CSS Selectors */
  
/* ID Selector */
#test-id-selector {
    background-color: blue;
}

/* Universal Selector */
* {
    margin: 1;
    padding: 1;
}

/* Attribute Selector (e.g. [attribute=foo]) */
a[target="_blank"] {
    text-decoration: underline;
}

/* Selector List */
h3, h4 {
    color: green;
}

/* Combinators */
/* Descendant Combinator */
ul li {
    list-style-type: circle;
}

/* Child Combinator */
div > p {
    font-style: oblique;
}

/* General sibling combinator */
h3 ~ p {
    border: 1px dotted aquamarine;
}

/* Adjacent sibling combinator */
h4 + p {
    accent-color: sandybrown;
}

/* Combining Two Selectors */
span.highlight {
    background-color: blueviolet;
}




